<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

</head>
<body>

  <h1>Taxi Tracking</h1>
  
  <!-- <iframe src="http://192.168.0.11:85/prueba" width="700" height="800"></iframe> -->
  <div id="gps"></div>

  <h1>Mapa</h1>

  <div id="myMap" style="width: 70%;height: 600px; margin: 1rem auto;"></div> 




<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin="">
</script>

<script type="text/javascript">   
        
    var latitud=0;
    var longitud=0;
    const showLocation = document.getElementById("gps");

    let myMap = L.map('myMap') // latitude, longitude y zoom

    async function getGPS() {

        // const response = await fetch("http://3.19.69.28:8080/prueba", {
        //     mode: 'no-cors'
        // });

        // let responseJson = await response.json();
        fetch("http://3.19.69.28:8080/prueba",{
          
        })
        .then(response =>  response.json )
        .then(data => {
          console.log(data);
          showLocation.innerHTML = await (`Latitud: ${data.latitud}, 
                                  Longitud: ${data.longitud},
                                  Fecha: ${data.fecha},
                                  Hora: ${data.hora},
                                  Numero: ${data.contador}`);
        })
        .catch(err=>   console.log(err))

        
      
        latitud=parseFloat(data.latitud);
        longitud=parseFloat(data.longitud);

       myMap.setView([latitud, longitud]);

    L.tileLayer(`https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png`, {
      maxZoom: 18,
    }).addTo(myMap);

    //
    let marker = L.marker([latitud, longitud]).addTo(myMap)


    };

    document.addEventListener("load", getGPS());

    setInterval(getGPS,5000);

   

  </script>



</body>

</html>