<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taxi Tracking</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="container log">
        <div class="logo1">
          <img src="/public/images/taxi (2).png" alt="logo" />
        </div>
        <a href="#" class="logo">Taxi Tracking</a>
      </div>
    </header>

    <div>
      <div class="container">
        <div class="row">

    <section class="type-election half">
      <div class="container u-txt-center">
        <label for="tipoSelect" class="input-label"
          >¿Qué desea ver en el mapa?</label
        >
        <select class="input-field" id="tipoSelect" name="tipo">
          <option value="actual">Actual</option>
          <option value="historico">Histórico</option>
        </select>
      </div>
    </section>

    <form id="form" class="type-election dates-div half">
      <div class="container u-txt-center">
        <label for="dates" class="input-label">Escoga el rango de fechas</label>
        <input class="input-field" type="text" name="dates" id="dates" />
        <button class="send-button">Enviar fechas</button>
      </div>
    </form>

        </div>
      </div>
    </div>

    <section class="gps-information">
      <div class="container">
        <div id="gps" class="gps"></div>

        <!-- ADD slider for the map -->
        <div class="slidecontainer" style="color:#7D54C0">
	  <h3>Slider para Recorrido de Taxi #1</h3>
          <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
        </div>

	<div class="slidecontainer2" style="color:#F2C94C">
	  <h3>Slider para Recorrido de Taxi #2</h3>
	  <input type="range" min="0" max="100" value="50" class="slider" id="myRange2">
	</div>

        <div
          id="myMap"
          class="mapa"
        ></div>
      </div>
    </section>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>

    <script type="text/javascript">
      var latitud = 0;
      var longitud = 0;
      var contador = 0;
      const showLocation = document.getElementById("gps");
      var latlngs = [];
      var dates = [];
      var taxi1=[];
      var taxi2=[];
      var datesTaxi1=[];
      var datesTaxi2=[];

	//Sliders Selection
     let slider1 = document.querySelector("#myRange");
     let slider2 = document.querySelector("#myRange2");

      let myMap = L.map("myMap"); // latitude, longitude y zoom
	
	//Slider Markers
	let slider1Marker = L.marker([latitud, longitud]).addTo(myMap);
	let slider2Marker = L.marker([latitud, longitud]).addTo(myMap);

      let markerInicial = L.marker([latitud, longitud]).addTo(myMap);
      let markerInicial2 = L.marker([latitud, longitud]).addTo(myMap);

      L.tileLayer(`https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png`, {
        maxZoom: 18,
      }).addTo(myMap);

      myMap.setView([latitud, longitud], 14);

      var polyline = L.polyline(latlngs, { color: "#7D54C0", weight: 6 }).addTo(
        myMap
      );

      var polyline2 = L.polyline(latlngs, { color: "#F2C94C", weight: 6 }).addTo(
        myMap
      );

      var popup = L.popup();
      var popup2 = L.popup();

      const $form = document.querySelector("#form");

      $form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData($form);
        var rangoFechas = String(formData.get("dates"));
        console.log(typeof formData.get("dates"));
        console.log(rangoFechas);
        var array = rangoFechas.split(" ");
        var fechas = array[0] + " - " + array[4];
        var horaInicial = "";
        var horaFinal = "";
        if (array[2] === "PM") {
          horaInicial =
            String(parseInt(array[1].substring(0, 2)) + 12) +
            array[1].substring(2, 5);
        } else {
          horaInicial = array[1];
        }

        if (array[6] === "PM") {
          horaFinal =
            String(parseInt(array[5].substring(0, 2)) + 12) +
            array[5].substring(2, 5);
        } else {
          horaFinal = array[5];
        }

        var horas = horaInicial + "-" + horaFinal;
        
        const estructura = {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify([fechas, horas]),
        };

        const res = await fetch("/Post", estructura);
        const historico = await res.json();
        console.log(historico.historico);
        latlngs = historico.historico;
        dates = historico.dates;
        datesTaxi1=historico.datesTaxi1;
        datesTaxi2=historico.datesTaxi2;
          taxi1=historico.taxi1;
          taxi2=historico.taxi2;

        //polyline.setLatLngs(latlngs, { color: "#4353ff" });
        polyline.setLatLngs(taxi1, { color: "#4353ff" });
        polyline2.setLatLngs(taxi2, { color: "#43ff56" });

        markerInicial.setLatLng(
          historico.taxi1[historico.taxi1.length - 1]
        );

        markerInicial2.setLatLng(
          historico.taxi2[historico.taxi2.length - 1]
        );

	slider1.max = taxi1.length - 1;
	slider2.max = taxi2.length - 1;

	slider1.addEventListener('input', (e) => { 
		
		markerInicial.setLatLng(historico.taxi1[slider1.value]); 
	});

	slider2.addEventListener('input', (e) => {
		markerInicial2.setLatLng(historico.taxi2[slider2.value]);
	}); 

        myMap.panTo( historico.historico[historico.historico.length - 1]);
      });


      polyline.on("click", (e) => {
        console.log(e);

        let counts = [];
        for (var j = 0; j < taxi1.length; j++) {
          counts.push(taxi1[j][0]);
        }

        goal = parseFloat(e.latlng.lat);
        var closest = counts.reduce(function (prev, curr) {
          return Math.abs(curr - goal) < Math.abs(prev - goal) ? curr : prev;
        });
        console.log(counts.indexOf(closest));
        var index = counts.indexOf(closest);
        popup
          .setLatLng(e.latlng)
          .setContent(
            "Clickeaste aquí " +
              e.latlng.toString() +
              "n\ fecha : " +
              datesTaxi1[index][0] +
              " hora : " +
              datesTaxi1[index][1]
          )
          .openOn(myMap);
      });

      polyline2.on("click", (e) => {
        console.log(e);

        let counts = [];
        for (var j = 0; j < taxi2.length; j++) {
          counts.push(taxi2[j][0]);
        }

        goal = parseFloat(e.latlng.lat);
          var closest = counts.reduce(function (prev, curr) {
          return Math.abs(curr - goal) < Math.abs(prev - goal) ? curr : prev;
        });
        console.log(counts.indexOf(closest));
        var index = counts.indexOf(closest);
        popup
          .setLatLng(e.latlng)
          .setContent(
            "Clickeaste aquí " +
              e.latlng.toString() +
              "n\ fecha : " +
              datesTaxi2[index][0] +
              " hora : " +
              datesTaxi2[index][1]
          )
          .openOn(myMap);
      });

      async function getGPS() {
        const response = await fetch("./prueba", {
         
        });

        let responseJson = await response.json();

        showLocation.innerHTML = await `Latitud: ${responseJson.latitud}, 
                                  Longitud: ${responseJson.longitud},
                                  Fecha: ${responseJson.fecha},
                                  Hora: ${responseJson.hora},
                                  Numero: ${responseJson.contador}`;

        latitud = parseFloat(responseJson.latitud);
        longitud = parseFloat(responseJson.longitud);
        var taxi=responseJson.taxi;
        myMap.panTo([latitud, longitud]);

        if (latitud != 0) {
          if (taxi==='1'){
            taxi1.push([latitud,longitud]);
            markerInicial.setLatLng([latitud, longitud]);
          }
          if(taxi==='2'){
            taxi2.push([latitud,longitud]);
            markerInicial2.setLatLng([latitud, longitud]);
          }
          polyline.setLatLngs(taxi1, { color: "#4353ff" }); //Añaduir esta coordenada a la polilinea
          polyline2.setLatLngs(taxi2, { color: "#43ff56" });
       
        }

        
      }

      document.addEventListener("load", getGPS());

      let interval = setInterval(getGPS, 1000);

      $("#dates").daterangepicker({
        timePicker: true,
        startDate: moment().startOf("hour"),
        endDate: moment().startOf("hour").add(32, "hour"),
        locale: {
          format: "YYYY/MM/DD hh:mm A",
        },
      });

      document.querySelector("#tipoSelect").addEventListener("change", (e) => {
        if (document.querySelector("#tipoSelect").value === "historico") {
          document.querySelector("#form").style.display = "block";
          document.querySelector("#gps").style.display = "none";
          clearInterval(interval);
        } else {
          latlngs = [];
          taxi1=[];
          taxi2=[];
          setInterval(getGPS, 1000);
          document.querySelector("#form").style.display = "none";
          document.querySelector("#gps").style.display = "block";
        }
      });
    </script>
  </body>
</html>
